discord.py-self[voice] @ https://github.com/dolfies/discord.py-self/archive/2ba64a9a997e151a9c259984e0a179b1fdf4aff4.zip
fastapi>=0.116,<1
uvicorn[standard]>=0.35,<1
httpx>=0.28,<1
python-multipart>=0.0.20,<1
yt-dlp[default]>=2025.1.1,<2027
